<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="user/common/template" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title th:text="#{notification.list.title}"></title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="row">
			<div class="col-12">
				<div class="notification m-b-30">
					<div class="notification-body">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<h4 class="mt-0 header-title" th:text="#{notification.list.title}"></h4>
							</div>
							<div class="col-md-6 col-sm-6">
								<a class="pull-right" th:href="@{/admin/notification/add}"><img th:src="@{/user/images/add.png}" height="30" /></a>
							</div>
						</div>
						<hr />
						<table id="datatable" class="table table-bordered">
							<thead>
								<tr>
									<th th:text="#{notification.id}"></th>
									<th th:text="#{notification.title}"></th>
									<th th:text="#{notification.content}"></th>
									<th th:text="#{notification.createdDate}"></th>
									<th th:text="#{notification.createdBy}"></th>
									<th th:text="#{notification.sendTo}"></th>
									<th th:text="#{text.option}"></th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th th:text="#{notification.id}"></th>
									<th th:text="#{notification.title}"></th>
									<th th:text="#{notification.content}"></th>
									<th th:text="#{notification.createdDate}"></th>
									<th th:text="#{notification.createdBy}"></th>
									<th th:text="#{notification.sendTo}"></th>
									<th th:text="#{text.option}"></th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" th:text="#{notification.delete.confirm.message}"></div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{text.no}"></button>
						<a class="btn btn-danger btn-ok" style="color: white;" th:text="#{text.delete}"></a>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" th:inline="javascript">
		var vietnameseUrl = [[@{/user/plugins/datatables/Vietnamese.json}]];
	    var url = [[@{/admin/notifications}]];
	    var delUrl = [[@{/admin/notification/delete}]];
	    
	    var csrf_token = [[${_csrf.token}]];
	    var isAdmin = [[${isAdmin}]];
	    
	    var id = "";
	    var table;
		$(document).ready(function() {
			table = $('#datatable').DataTable( {
				"processing": true,
		        "serverSide": true,
		        "ajax": {
		        	type:"POST",
		            url: url,
		            dataType: "json",
		            contentType: "application/json",
		            headers: {'X-CSRF-TOKEN': csrf_token},
		            data: function ( d ) {
		            	if (typeof $('#accountStatus') != 'undefined') {
		            		d.enabled = $('#accountStatus').val();
		            	}
		            	return JSON.stringify( d );
		            }
		        },
		        "columns": [
				    { "data": "id" },
		            { "data": "title" },
		            { "data": "content" },
		            { "data": "createdDate" },
		            { "data": "createdBy" },
		            { "data": "sendTo" }
		        ],
		        "columnDefs": [
     		     	{
   	                "render": function ( data, type, row ) {
   	                    return '<strong>'+ data + '</strong>';
   	                },
   	                "targets": 2
   	            },
	            {
	                "render": function ( data, type, row ) {
	                	if (row.status == 0) {
	                		var content = '<button class="btn btn-danger ti-trash" data-toggle="modal" data-target="#confirm-delete" data-title='+row.title+'></button>';
		            		return content;
			            }
			            return "";
	                },
	                "orderable": false,
	                "targets": 6
	            }
		        ],
		        "language": {
		            "url": vietnameseUrl
		        },
		        "initComplete": function(settings, json) {
		        	/* $("#datatable_filter").prepend( '<label>' +status+ ': <select name="accountStatus" id="accountStatus" class="form-control form-control-sm" aria-controls="datatable"><option value="">' +all+ '</option><option value="false">' +disabled+ '</option><option value="true">'+enabled+'</option></select></label>');
					$('#accountStatus').change(function (e) {
				        table.draw();
				    }); */
		          }
	        });
			
			$('#datatable tbody').on( 'click', 'button', function () {
				var data = table.row( $(this).parents('tr') ).data();
				id = data.id;
		    } );
			
			$('#confirm-delete').on('click', '.btn-ok', function(e) {
				  var $modalDiv = $(e.delegateTarget);
				  $modalDiv.addClass('loading');
				  $.get(delUrl + '/' + id).then(function() {
				     $modalDiv.modal('hide').removeClass('loading');
				     table.draw();
				  });
				});
			
			$('#confirm-cancel-notification').on('click', '.btn-ok', function(e) {
				  var $modalDiv = $(e.delegateTarget);
				  $modalDiv.addClass('loading');
				  $.ajax({
				        url : topupUrl,
				        type: 'POST',
				        dataType: "json",
			            contentType: "application/json",
			            headers: {'X-CSRF-TOKEN': csrf_token},
				        data: JSON.stringify({"id": id,"status": 2}),
				        success: function(){
				        	$modalDiv.modal('hide').removeClass('loading');
						    table.draw();
					    },
				        error: function(){
				        	$modalDiv.modal('hide').removeClass('loading');
						    table.draw();
				        }
				    });
				});
			
			//triggered when modal is about to be shown
			$('#confirm-delete').on('click', '.btn-ok', function(e) {
				  var $modalDiv = $(e.delegateTarget);
				  $modalDiv.addClass('loading');
				  $.get(delUrl + '/' + id).then(function() {
				     $modalDiv.modal('hide').removeClass('loading');
				     table.draw();
				  });
				});
			
	    });
		function onAmountTextChange() {
			$("#invalid-amount-text").css("display","none");
		}
	</script>
	</div>
</body>
</html>